@import '~bootstrap/dist/css/bootstrap.min';
@import '~flatpickr/dist/flatpickr.min';

/* THEME */
$button: #6D3EEC;
$text-color: #E7E7E7 !important;

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://fonts.gstatic.com/s/materialicons/v70/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.btn {
    color: $text-color;

    .material-icons {
        color: $button;
    }
}

.btn-menu {
    background-color: $button !important;
}

/* GENERAL */
body {
    text-align: center;
    padding: 20px 40px;
}

#results {
    width: 100%;
    display: flex;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.25rem;
    font-size: small;

    img {
        width: 28px;
        border-radius: 0.25rem;
    }
}


/* INPUT */
form {
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.route {
    margin-bottom: 2rem;
}

ul {
    text-align: left;
}

ul#routeInputs {
    text-align: left;
    margin: auto;
    max-width: 760px;

    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

ul#fishInputs {
    text-align: left;
    margin: auto;
    max-width: 760px;
    
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

li {
    list-style-type: none;
}

.dateOption {
    display: inline-block;
    margin: 0 2rem;
}

button {
    margin-top: 1rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}


/* OUTPUT */
table {
    padding: 0.5rem 2rem;
    margin: auto;
}

td, th {
    min-width: 30%;
    padding: 0.2rem 1rem;
}

td:first-child {
    text-align: right;
}


/* GUIDE */
.fish-pool {
    margin: auto;
    padding: 0 1rem;
    max-width: 1280px;
}

.fish-info {
    margin: 1px;
}

.fish-name {
    img {
        width: 32px;
        margin-right: 8px;
    }

    text-align: left;
    flex: 0 0 auto;
    width: 16.6667% !important;
}

.dh {
    flex: 0 0 auto;
    width: 2.5rem !important;
}

.progress {
    align-items: center;
    margin: 8px 1rem 0 !important;
}

.weather {
    img {
        height: 24px;
        margin: auto;
    }

    display: flex;
    align-items: center;
}

.empty {
    background-color: #E9ECEF !important;
}

/* full width of progress bar is 36s */
.t-36 {
    width: 100%;
}
  
.t-30 {
    width: 83.3333%;
}
  
.t-27 {
    width: 75%;
}

.t-24 {
    width: 66.6667%;
}
  
.t-21 {
    width: 58.3333%
}

.t-18 {
    width: 50%;
}
  
.t-15 {
    width: 41.6667%;
}

.t-12 {
    width: 33.3333%
}

.t-9 {
    width: 25%;
}

.t-6 {
    width: 16.6667%;
}

.t-5 {
    width: 13.8889%;
}
  
.t-4 {
    width: 11.1111%
}

.t-3 {
    width: 8.3333%;
}

.t-2 {
  width: 5.5556%;  
}

.t-1 {
  width: 2.7778%;  
}
  

/* REPSONSIVE */
@media (max-width: 700px) {
    ul#fishInputs {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

@media (max-width: 570px) {
    ul#routeInputs {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}