@import '~bootstrap/dist/css/bootstrap.min';
@import '~flatpickr/dist/flatpickr.min';

/* THEME */
$button: #6D3EEC;
$text-color: #E7E7E7 !important;

.btn {
    color: $text-color;

    .material-icons {
        color: $button;
    }
}

.btn-menu {
    background-color: $button !important;
}


/* GENERAL */
body {
    background-color: #444444 !important;
    text-align: center;
    padding: 20px 40px;
    color: $text-color;
}

#results {
    width: 100%;
    display: flex;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.25rem;
    font-size: small;

    img {
        width: 28px;
        border-radius: 0.25rem;
    }
}

.table {
    width: auto !important;
}

.blank {
    height: 36px;
}

/* INPUT */
#routeFilters {
    .crit-section {
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 0.5rem;

        > table > thead > tr > th.icon {
            padding-bottom: 0.25rem;
        }
    }

    > .row {
        margin-bottom: 1.2rem;
    }

    img {
        height: 32px;
    }

    /* Routes Table */
    table {
        tbody {
            button.btn {
                width: 100%;
                text-align: right;
            }
        }

        td {
            > label {
                cursor: pointer;
                padding: 0;
            }
        }

        .btn {
            padding: 0;
            margin-top: 0;
        }
    }

    /* Blue Fish & Achievements Lists*/
    ul {
        text-align: left;
        padding-left: 0;
        margin: auto;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;

        li {
            margin-bottom: 0.1rem;
            padding: 0.1rem;
            width: 100%;
            display: inline-block;

            > .btn {
                display: flex !important;
                padding: 0;
                text-align: left;
                border-radius: 0;
                width: 100%;

                .row {
                    width: 100%;
                }

                .row > * {
                    align-self: center;
                }

                img {
                    padding-right: 0.25rem;
                }
            }
        }

        li:nth-of-type(odd) {
            background-color: #CCCCCC;
        }
    }
}

.test {
    border: 1px solid black;
}

ul.test-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

    > li {
        display: inline-block;
        width: 100%;
    }
}

.test-col {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    
    > div {
        border: 1px solid black;
    }
}

.b-test {
    width: 100%;
    padding: 0;
}

form {
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
  
.route {
    margin-bottom: 2rem;
}
  
ul {
    text-align: left;
}
  
#routeInputs {
    margin: auto;

    > table {
        width: auto !important;

        th {
            min-width: 5rem;
        }
    }
}
  
.routetime {
    flex: 1 0 0%;
    min-width: 48px;
}
  
ul#fishInputs {
    text-align: left;
    margin: auto;
    max-width: 760px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
  
li {
    list-style-type: none;
}
  
.dateOption {
    display: inline-block;
    margin: 0 2rem;
}
  
button {
    margin-top: 1rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.dateOption {
    display: inline-block;
    margin: 0 2rem;
}


/* OUTPUT */
#results {
    th {
        text-align: center;
    }
}
table {
    padding: 0.5rem 2rem;
    margin: auto;
}

td, th {
    min-width: 30%;
    padding: 0.2rem 1rem;
}

td:first-child {
    text-align: right;
}


/* GUIDE */
.fish-pool {
    margin: auto;
    padding: 0 1rem;
    max-width: 1280px;
}

.fish-info {
    margin: 1px;
}

.fish-name {
    img {
        width: 32px;
        margin-right: 8px;
    }

    text-align: left;
    flex: 0 0 auto;
    width: 16.6667% !important;
}

.dh {
    flex: 0 0 auto;
    width: 2.5rem !important;
}

.progress {
    align-items: center;
    margin: 8px 1rem 0 !important;
}

.weather {
    img {
        height: 24px;
        margin: auto;
    }

    display: flex;
    align-items: center;
}

.empty {
    background-color: #E9ECEF !important;
}

/* full width of progress bar is 36s */
.t-36 {
    width: 100%;
}
  
.t-30 {
    width: 83.3333%;
}
  
.t-27 {
    width: 75%;
}

.t-24 {
    width: 66.6667%;
}
  
.t-21 {
    width: 58.3333%
}

.t-18 {
    width: 50%;
}
  
.t-15 {
    width: 41.6667%;
}

.t-12 {
    width: 33.3333%
}

.t-9 {
    width: 25%;
}

.t-6 {
    width: 16.6667%;
}

.t-5 {
    width: 13.8889%;
}
  
.t-4 {
    width: 11.1111%
}

.t-3 {
    width: 8.3333%;
}

.t-2 {
  width: 5.5556%;  
}

.t-1 {
  width: 2.7778%;  
}
  

/* REPSONSIVE */
@media (max-width: 700px) {
    ul#fishInputs {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

@media (max-width: 570px) {
    ul#routeInputs {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}