body {
    text-align: center;
    padding: 20px 40px;
}

#results {
    width: 100%;
    display: flex;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.25rem;
    font-size: small;

    img {
        width: 28px;
        border-radius: 0.25rem;
    }
}


/* INPUT */
form {
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.route {
    margin-bottom: 2rem;
}

ul {

    text-align: left;
    margin: auto;
    max-width: 760px;
}

ul#routeInputs {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

ul#fishInputs {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}

li {
    list-style-type: none;
}

.dateOption {
    display: inline-block;
    margin: 0 2rem;
}

button {
    margin-top: 1rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}


/* OUTPUT */
table {
    padding: 0.5rem 2rem;
    margin: auto;
}

td, th {
    min-width: 30%;
    padding: 0.2rem 1rem;
}

td:first-child {
    text-align: right;
}

/* REPSONSIVE */
@media (max-width: 700px) {
    ul#fishInputs {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}

@media (max-width: 570px) {
    ul#routeInputs {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}