body {
    text-align: center;
}

ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    text-align: left;
    margin: auto;
    margin-bottom: 2rem;
    max-width: 760px;
}

li {
    list-style-type: none;
}

form {
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.dateOption {
    display: inline-block;
    margin: 0 2rem;
}

input[type="submit"] {
    margin: 2rem 0;
}

#results {
    width: 100%;
    display: flex;
}

table {
    padding: 2rem;
    margin: auto;
}

td, th {
    min-width: 30%;
    padding: 0.2rem 1rem;
}

td:first-child {
    text-align: right;
}

#footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 0.25rem;
    font-size: small;
}